body {
  font-family: 'Rubik', sans-serif;
  letter-spacing:-2px;
  background-size:100%;
  color: #322133;
  margin: 0;
  padding:0;
  font-weight:300;
}

pre code {
  font-family: 'Fira Mono', monospace;
}

h1, h2, h3, p {
  margin:0;
}

h1, h2, h3 {
  font-weight: 400;
}

em, a {
  font-style:normal;
  color:#FFC719;
}

ul {
  list-style: none;
}

a {
  color:#EC00FF;
  text-decoration:underline;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0;
  left:20px;
}

pre {
  color: #000000;
}